<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Paperless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <style>
      #container {
        margin-top: 25px;
      }
      .u-full-width > input {
        width: 100%
      }
      .tag {
        padding: 0 0.5em;
        color: #ffffff;
        border-radius: 0.2em;
        margin: 1px;
        display: inline-block;
        background-color: #a6cee3;
      }
    </style>
  </head>
  <body>
    <div class="container" id="container"></div>
    <script src="dist/bundle.js"></script>
  </body>
</html>
